<div class="wrapper">
  <app-header></app-header>
  <div class="content-wrapper">
    <!-- Content goes here -->

    <div class="container">
      <div class="jumbotron">
        <h1 class="display-10">Olá, {{nameUser}}</h1>
        <p class="lead">Seja bem-vindo(a) !</p>
        <hr class="my-4">
        <p>Aqui Você encontra os melhores filmes em cartaz!</p>
        <a class="btn btn-primary btn-lg" routerLink="/listagem-filmes" role="button">Listagem de Filmes</a>
      </div>
    </div>

  </div>
  <app-sidebar></app-sidebar>
</div>
